<app-header></app-header>
<!--Body-->
<div class="container-fluid" style="background: #F8FCFF;">
    <div class=" main-body">
        <div class="row  form-body">
            <div class="col-12 col-md-6 ">
                <u>
                    <h4>WikipediA</h4>
                </u>
                <img src="assets/logo.png" alt="logo">
            </div>
            <div class="col-12 col-md-6">
                <u>
                    <h4>Reset Password</h4>
                </u>
                <div class=" form" [formGroup]="myFormGroup">
                    <div class="mt-2 form-group">
                        <label>New Password:</label>
                        <input class="form-control form-control" type="password" placeholder="New Password" id="np1"
                            formControlName="password">
                    </div>
                    <div class="mt-2 form-group">
                        <label>Confirm Password:</label>
                        <input class="form-control form-control" type="password" placeholder="Confirm Password" id="np2"
                            formControlName="cpassword">
                    </div>
                    <div class="mt-2 form-group">
                        <label>Email Address:</label>
                        <input class="form-control form-control" type="text" placeholder="Email" id="email"
                            formControlName="email">
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-outline-primary btn-block" (click)="resetPassword()"
                            [disabled]="!myFormGroup.valid">Reset
                            Password</button>
                    </div>

                    <div class="mt-2 d-flex justify-content-between">
                        <a routerLink="/login">Login Here</a>
                        <a routerLink="/register">Register Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>