<div class="img">
    <div>
        <img src="assets/3.png" alt="img">
    </div>
</div>

<div>
    <div class="ip-box">
        <input type="text" id="inputval">
        <button class="s-button" (click)="search()">Search</button>
    </div>
</div>

<div class="select-lang">
    <div>
        <select class="lang" name="English" id="select">
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
            <option value="Marathi">Marathi</option>
            <option value="Sanskrit">Sanskrit</option>
            <option value="Spanish">Spanish</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
        </select>
    </div>
</div>

<div class="data">
    <div class="links">
        <div class="fetched-data"> <a href="" id="q1" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q2" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q3" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q4" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q5" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q6" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q7" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q8" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q9" target="_blank"></a> </div>
        <div class="fetched-data"> <a href="" id="q10" target="_blank"></a> </div>
    </div>
</div>