<div class="container-fluid" style="background: #F8FCFF;">
    <div class="row justify-content-center align-item-center">
        <div class="col-5 img-box">
            <div class="justify-content-center align-item-center mt-3" style="height: 90%;">
                <img src="https://picsum.photos/1200/1400" alt="img">
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-item-center mt-2">
        <h1>WELCOME</h1>
    </div>

    <div class="row justify-content-center align-item-center mt-2 name" id="h1" style="height: 14vh;">

    </div>

</div>